{{> Animated}}
<div class="jumbotron  ">
    <h1 class="display-4">Menu de {{PuesMd}}</h1>
    <p class="lead">Bienvenido al Menu Principal</p>
    <hr class="m-4">
    <p> {{TexMd}}</p>
    <a class="btn btn-success btn-lg" href="/Mestro/NewWorkHome">
        Tareas</a>
</div>
