<div class="jumbotron mt-4 ">
    <h1 class="display-4">Menu de Administrador</h1>
    <p class="lead">Bienvenido al Menu Principal</p>
    <hr class="m-4">
    <p> En Este Modulo Podras Dar de Alta, Baja y Cambios de los Docentes Asi Como Podras Dar CheckIn de los Alumnos y Docentes</p>
    {{!-- <a href="/users/singin" class="btn btn-primary btn-lg">Sign In</a> --}}
</div>