<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            En la tarea de escribir bien y sin cometer faltas de ortografía es importante estar atento a determinadas
            palabras que puedan generar confusión. Encontramos muchos casos de términos que nos crean la duda de si su
            forma correcta debe escribirse junta o separada. Por ello, lo mejor es consultar la información
            correspondiente antes de empezar a redactar cualquier texto. en el siguiente artículo de unComo te ayudamos
            mostrándote un claro ejemplo, descubre cómo se escribe acerca o a cerca.
        </p>
    </div>
</div>