<div class="jumbotron mt-4 ">
    <h1 class="display-4">Mongo con NodeJs</h1>
    <p class="lead">Bienvenido a mi proyecto de MongoDb</p>
    <hr class="m-4">
    <p> Este proyecto realizara la conexión entre mongo y el servidor NodeJs</p>
    <a href="/users/singin" class="btn btn-primary btn-lg">Sign In</a>
</div>