{{#if success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{success}}
        <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}

{{#if error_ms}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error_ms}}
        <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}