{{#each errors}}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{text}}
        <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

<div class="container p-4" id="conti">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        Agregar Notas
                    </h3>
                </div>
                <div class="card-boddy">

                    <img id="login" src="/imagen/libreta.jpg" alt="logo Antz"
                        class="card-img-top mx-auto m-2 rounded-circle w-20">

                    <form action="/notes/newnote" method="POST">
                        <div class="form-group">
                            <input type="text" name="titulo" value="" placeholder="Agrega La Tarea" class="form-control"
                                autofocus>
                        </div>
                        <div class="form-group">
                            {{!-- <input type="text" name="password" value = "" placeholder="password" class="form-control"> --}}
                            <textarea name="descripcion" class="form-control" placeholder="Descripción"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>