<div class="card text-center">
    <div class="card-header">
        <h3>
            Tareas de {{materia}} en el Grado {{grado}}
        </h3>
    </div>
    <div class="card-boddy">
        <img id="login" src="/imagen/clase.jpg" alt="logo Antz" class="card-img-top mx-auto m-2 rounded-circle w-10">
        {{!-- <input type="number" name="fg" id="er">
        <input type="text" name="er" id="w"> --}}
    </div>
</div>
<form action="/Alumnos/add" method="GET" enctype="multipart/form-data">
    <div id="perio" class="card text-center">
        Selecciona un periodo
        <select id="peri01">

        </select>
    </div>
    <div id="tabla">

    </div>
    <div class="card text-center">
        <button class="btn btn-success btn-block">guardar</button>
    </div>

</form>
<script>
    var tarefin = [];
    var jsonObj = [];
    function comezar() {
        var str = [{}];
        str1 = "{{Json01}}";

        if (str1 == "") {
            console.log("Vacio");
        } else {
            var str = str1;
            var res = str.replace(/&quot;/g, '"');
            var res1 = res.replace(/&#x3D;/g, '=');
            jss = JSON.parse(res1);

        }


        opciones();


    }

    function opciones() {
        var miSelect = document.getElementById("peri01");
        var miOption = document.createElement("option");
        //miOption.setAttribute("value","1");
        miOption.text = "Selecciona un valor";
        miOption.setAttribute('disabled', "true");
        miOption.setAttribute('selected', "true");
        miSelect.appendChild(miOption);



        var nuevaLongitud = [];
        for (x = 0; x < jss.length; x++) {

            for (y = 0; y < jss[x].length; y++) {
                if (y !== 0) {
                    nuevaLongitud.push(jss[x][y].periodo);
                }
            }

        }

        nuevaLongitud.sort();
        nuev1 = "";


        for (var y = 0; y < nuevaLongitud.length; y++) {

            if (nuev1 == nuevaLongitud[y]) {
                nuevaLongitud.splice(y, 1)
                y = -1;
                nuev1 = "";

            } else {
                nuev1 = nuevaLongitud[y];
            }
        }
        for (var y = 0; y < nuevaLongitud.length; y++) {
            var miOption1 = document.createElement("option");
            miOption1.value = nuevaLongitud[y];
            miOption1.text = nuevaLongitud[y];
            miSelect.appendChild(miOption1);
        }

        miSelect.addEventListener("change", valora, false);
    }

    function valora(e) {
        var selec = e.target.value;

        document.getElementById('tabla').innerHTML = "";
        materia(selec);
        tablaAlum();
    }

    function materia(selec) {

        var materi = [];
        tarefin = [];
        var nummate = 0;
        var nummate1 = 0;
        var tare = "";
        var mateFin = "";
        var mate1 = []



        for (x = 0; x < jss.length; x++) {
            for (y = 0; y < jss[x].length; y++) {
                if (y == 0) {

                } else {
                    nummate++
                    if (selec == jss[x][y].periodo) {
                        materi.push({ nombre: jss[x][y].NomTare, fecha: jss[x][y].fecha, periodo: jss[x][y].periodo })
                        //tarefin.push({ materia: jss[x][y].NomTare, fecha: jss[x][y].fecha })
                    }

                }
            }
            if (nummate1 < nummate) {
                nummate1 = nummate
            }
            nummate = 0;
        }
        materi.sort(function (a, b) {
            return (a.nombre).localeCompare((b.nombre));
        });

        var tare = "";

        for (x = 0; x < materi.length; x++) {
            if (materi[x].nombre != tare) {
                tarefin.push({ materia: materi[x].nombre, fecha: materi[x].fecha })
                tare = materi[x].nombre;
            }
        }



        tarefin.sort(function (a, b) {
            return (a.fecha + a.materia).localeCompare((b.fecha + + b.materia));
        });

        var n = 0;
        for (var y = 0; y < jss.length; y++) {
            mateFin += "{"
            for (var x = 0; x <= jss[y].length; x++) {

                if (x == 0) {
                    mateFin += '"Nombre" :' + '"' + jss[y][x].Nombre + '"';
                } else if (x == jss[y].length) {
                    mate1.sort(function (a, b) {
                        return (a.fecha + a.materia).localeCompare((b.fecha + + b.materia));
                    });
                    for (m = 0; m < tarefin.length; m++) {
                        if (m != tarefin.length) {
                            mateFin += ","
                        }
                        try {
                            if (tarefin[m].materia == mate1[n].materia) {
                                mateFin += '"Califica' + m + '":' + mate1[n].calificacion
                                n++

                            } else {
                                mateFin += '"Califica' + m + '":' + "0"
                            }
                        } catch (error) {
                            mateFin += '"Califica' + m + '":' + "0"
                        }
                    }

                } else if (jss[y][x].periodo == selec) {

                    mate1.push({ materia: jss[y][x].NomTare, calificacion: jss[y][x].calificacion, fecha: jss[y][x].fecha });
                }
            }
            if (y == jss.length - 1) {
                mateFin += "}"
            } else {
                mateFin += "},"
            }
            n = 0;
            mate1 = [];


        }
        jsonObj = $.parseJSON('[' + mateFin + ']');

    }

    function tablaAlum() {
        var lugar = "";
        var lugar1 = [];
        document.getElementById('tabla').innerHTML = "";
        var body = document.getElementById('tabla');
        var tabla = document.createElement("table");
        var tblBody = document.createElement("tbody");
        var fila = document.createElement("tr");

        for (var y = 0; y < (tarefin.length + 4); y++) {
            var celda = document.createElement("td");
            if (y == 0) {
                var butn = document.createTextNode("Alumno ");

            } else {
                if (y == (tarefin.length + 1)) {
                    var butn = document.createTextNode("Calificación");
                } else {
                    if (y == (tarefin.length + 2)) {
                        var butn = document.createTextNode("+ Puntos");
                    } else {
                        if (y == (tarefin.length + 3)) {
                            var butn = document.createTextNode("Final");
                        } else {
                            lugar += "{"

                            var mate = tarefin[y - 1].materia;
                            lugar += '"' + mate + '" : ' + (y);
                            if (y == tarefin.length) {
                                lugar += "}"
                            } else {
                                lugar += "},"
                            }

                            var butn = document.createTextNode(tarefin[y - 1].materia);
                        }
                    }
                }

            }
            celda.appendChild(butn);
            fila.appendChild(celda);
        }

        tblBody.appendChild(fila);
        tblBody.setAttribute('id', "bodyTTR");
        const numer = tarefin.length + 4;
        for (x = 0; x < jsonObj.length; x++) {

            fila = document.createElement("tr");
            var calfin = 0;
            for (m = 0; m < tarefin.length + 4; m++) {
                var celda = document.createElement("td");
                if (m == 0) {
                    var butn = document.createTextNode(jsonObj[x].Nombre);
                } else {
                    if (m == tarefin.length + 3) {
                        //var butn = document.createTextNode("cali fin");
                        var butn = document.createElement("input");
                        butn.setAttribute('id', jsonObj[x].Nombre + "califin");
                        butn.setAttribute('class', "check3");

                        //butn.addEventListener("keyup", clafin, false);
                        butn.setAttribute("disabled", "disabled")
                        butn.setAttribute('value', calfin);

                    } else {
                        if (m == tarefin.length + 2) {
                            var butn = document.createElement("input");
                            butn.setAttribute('id', jsonObj[x].Nombre);
                            //butn.setAttribute('type',"number")
                            butn.setAttribute('class', "check3");
                            butn.addEventListener("keyup", clafin, false);

                        } else {
                            if (m == tarefin.length + 1) {
                                calfin = calfin / tarefin.length

                                var butn = document.createElement("input");
                                butn.setAttribute("disabled", "disabled")

                                butn.setAttribute('value', calfin);
                                butn.setAttribute('class', "check3");
                                butn.setAttribute('id', jsonObj[x].Nombre + "califi")
                            } else {
                                var cal = "Califica" + (m - 1);

                                calfin = (calfin + jsonObj[x][cal])

                                var butn = document.createTextNode(jsonObj[x][cal]);
                            }

                        }

                    }

                }

                celda.appendChild(butn);
                fila.appendChild(celda);
            }
            tblBody.appendChild(fila);
            tblBody.setAttribute('id', "bodyTTR");
        }

        tabla.appendChild(tblBody);
        body.appendChild(tabla);
        tabla.setAttribute('class', ' table table-dark nom1');
    }


    function clafin(e) {
        const y = e.target.getAttribute('id');
        const m = document.getElementById(y + "califi")

        var x = document.getElementById(y).value;
        if (x === "" || x === null) {
            var calfinn = parseFloat(m.value);
        } else {
            var calfinn = parseFloat(m.value) + parseFloat(x);
        }
        if (calfinn > 10) {
            document.getElementById(y + "califin").value = 10;
        } else {
            document.getElementById(y + "califin").value = calfinn;
        }


    }
    window.addEventListener('load', comezar, false)



</script>