<div class="container p-4" id="conti">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        Tareas de {{materia}} en el Grado {{grado}}
                    </h3>
                </div>
                <div class="card-boddy">
                    <img id="login" src="/imagen/clase.jpg" alt="logo Antz"
                        class="card-img-top mx-auto m-2 rounded-circle w-10">
                    <form action="/Alumnos/add" method="POST" enctype="multipart/form-data">
                        <div id="tabla">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tarefin = [];
    var jsonObj = [];
    function comezar() {
        var str = [{}];
        str1 = "{{Json01}}";

        if (str1 == "") {
            console.log("Vacio");
        } else {
            var str = str1;
            var res = str.replace(/&quot;/g, '"');
            var res1 = res.replace(/&#x3D;/g, '=');
            jss = JSON.parse(res1);

        }

        materia();
        tablaAlum();
    }

    function materia() {
        var materi = [];

        for (x = 0; x < jss.length; x++) {
            for (y = 0; y < jss[x].length; y++) {
                if (y == 0) {

                } else {
                    materi.push({ nombre: jss[x][y].NomTare, fecha: jss[x][y].fecha })
                }
            }
        }
        materi.sort(function (a, b) {
            return (a.nombre).localeCompare((b.nombre));
        });
        var tare = "";

        for (x = 0; x < materi.length; x++) {
            if (materi[x].nombre != tare) {
                tarefin.push({ materia: materi[x].nombre, fecha: materi[x].fecha })
                tare = materi[x].nombre;
            }
        }

        tarefin.sort(function (a, b) {
            return (a.fecha).localeCompare((b.fecha));
        });

        var mateFin = "";
        var mate1 = []
        for (var y = 0; y < jss.length; y++) {
            mateFin += "{"
            for (var x = 0; x <= jss[y].length; x++) {
                if (x == 0) {
                    mateFin += '"Nombre" :' + '"' + jss[y][x].Nombre + '"';
                } else if (x == jss[y].length) {
                    mate1.sort(function (a, b) {
                        return (a.fecha + a.materia).localeCompare((b.fecha + b.materia));
                    });

                    for (m = 0; m < tarefin.length; m++) {
                        if (x != tarefin.length) {
                            mateFin += ","
                        }
                        if (mate1[m].materia == tarefin[m].materia) {
                            mateFin += '"Califica' + m + '":' + mate1[m].calificacion
                        } else {
                            mateFin += '"Califica' + m + '":' + "0"
                        }

                    }
                    var mate1 = []
                } else {
                    mate1.push({ materia: jss[y][x].NomTare, calificacion: jss[y][x].calificacion, fecha: jss[y][x].fecha });
                }
            }
            if (y == jss[y].length - 2) {
                mateFin += "}"
            } else {
                mateFin += "},"
            }


        }
        console.log("Lengt3")
        console.log(mateFin);

        jsonObj = $.parseJSON('[' + mateFin + ']');
        console.log(jsonObj);

    }

    function tablaAlum() {
        var lugar = "";
        var lugar1 = [];
        document.getElementById('tabla').innerHTML = "";
        var body = document.getElementById('tabla');
        var tabla = document.createElement("table");
        var tblBody = document.createElement("tbody");
        var fila = document.createElement("tr");

        for (var y = 0; y < (tarefin.length + 4); y++) {
            var celda = document.createElement("td");
            if (y == 0) {
                var butn = document.createTextNode("Alumno ");

            } else {
                if (y == (tarefin.length + 1)) {
                    var butn = document.createTextNode("Calificación");
                } else {
                    if (y == (tarefin.length + 2)) {
                        var butn = document.createTextNode("+ Puntos");
                    } else {
                        if (y == (tarefin.length + 3)) {
                            var butn = document.createTextNode("Final");
                        } else {
                            lugar += "{"

                            var mate = tarefin[y - 1].materia;
                            lugar += '"' + mate + '" : ' + (y);
                            if (y == tarefin.length) {
                                lugar += "}"
                            } else {
                                lugar += "},"
                            }

                            var butn = document.createTextNode(tarefin[y - 1].materia);
                        }
                    }
                }

            }
            celda.appendChild(butn);
            fila.appendChild(celda);
        }

        tblBody.appendChild(fila);
        tblBody.setAttribute('id', "bodyTTR");
        const numer = tarefin.length + 4;
        for (x = 0; x < jsonObj.length; x++) {
            console.log(jsonObj[x]);
            fila = document.createElement("tr");
            for (m = 0; m < tarefin.length + 4; m++) {
                var celda = document.createElement("td");
                if(m == 0){
                    var butn = document.createTextNode(jsonObj[x].Nombre);
                }else{
                    var butn = document.createTextNode("jsonObj[x].Nombre");
                }
                
                celda.appendChild(butn);
                fila.appendChild(celda);
            }
            tblBody.appendChild(fila);
            tblBody.setAttribute('id', "bodyTTR");
        }

        tabla.appendChild(tblBody);
        body.appendChild(tabla);
        tabla.setAttribute('class', ' table table-dark nom1');
    }

    window.addEventListener('load', comezar, false)



</script>